.navbar{
  background-color: lightyellow;
  display:flex;
  justify-content: flex-start;
  font-size: 20px;
  height: 10vh;
}

.navbar--header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo{
  width: 2rem;
  height: 100%;
  margin-right: 8px;
}

.navbar--list{
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar--list li{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100px;
}

.dropdown ul{
  display:none;
  flex-direction: column;
  align-items:center;
  position:absolute;
  top: 10vh;
  background-color: grey;
}

.dropdown ul li{
  width: 100px;
  height: 2rem;
}

.dropdown:hover ul{
  display:flex;
}

.navbar--list li:hover{
  background-color: darkgrey
}

@media only screen and (min-width: 768px) {
.navbar{
  justify-content: space-between;
  background-color: grey;
  }
}
