* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", sans-serif;
}

@media only screen and (max-width: 600px) {
.navbar{
  display: flex;
  justify-content: flex-start;
  background-color: green;
  }
}


/* Welcome */
.welcome {
  background-color: #1f1f1f;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff
}
.welcome--logo {
  width: 10rem;
}

.welcome--about {
  padding: 2rem;
  width: 50rem;
  color: #444;
  text-align: justify;
  margin: auto;
}

.welcome__cta-primary {
  background: #e74c3c;
  color: #fff;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}
