@font-face {
  font-family: 'Alcubierre';
  src: url('./fonts/Alcubierre.otf') format('opentype')
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Arial'

}

.middle-container{
  margin:auto;
  padding-top: 1rem;
  width: 50%;
}

.two-containers{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.half-container{
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

/* Welcome */
.welcome {
  background-color: #1f1f1f;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.8;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff
}
.welcome--logo {
  width: 10rem;
}

.welcome--about {
  padding: 2rem;
  width: 50rem;
  color: #444;
  text-align: justify;
  margin: auto;
}

.welcome__cta-primary {
  background: #e74c3c;
  color: #fff;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.section {
  height: 50vh;
}

.section:first-child{
  height:90vh;
}

@media only screen and (min-width: 768px) {
.half-container{
  width: 50%;
  }
}
